@using DailerApp.Models;
@model DailerApp.Models.ArchivePageModel

<div class="row">
  <div class="col-4" style="width:900px">
    <div class="list-group" id="list-tab" role="tablist">
    @{var x = 0;}
    @foreach(var note in Model.Notes)
    {
      var cls = x == 0 ? "list-group-item list-group-item-action active" : "list-group-item list-group-item-action";
      <a class="@cls" id="@note.Date" data-toggle="list" href="#list-home" role="tab" aria-controls="home">@note.Date</a>
      x++;
    }
      
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
    @{x = 0;}
    @foreach(var note in Model.Notes){
      var cls = x == 0 ? "tab-pane fade show active" : "tab-pane fade show";
      <div class="@cls" id="list-home" role="tabpanel" aria-labelledby="@note.Date">@note.Text</div>
      x++;
      }
    </div>
  </div>
</div>